body {
		background-color: #FBFBFB;
		font-family:arial;
}

#graph {
	position: absolute;
	top: 70px;
	left: 5px;
}

#description {
	position: absolute;
	left: 40px;
  right: 40px;
	top: 75px;
}

#csv {
  visibility: hidden;
	height: 5px;
	width:5px;
}

#Title {
	position:absolute;
	left:40px;
	top:9px;
	font-size:40px;
	font-weight:bold;
}

#names{
	position:absolute;
	left:440px;
	top:30px;
}

#vidlink {
	position: absolute;
	top:30px;
}

path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}

#xselect {
	position: absolute;
	left: 40px;
}

#yselect {
	position: absolute;
	left:5px;
}

#sidebartoggle {
	position: absolute;
}

#xAxisSelect{
	width: 120px;
}

#yAxisSelect{
	width: 120px;
}

.point {
  stroke: #315B7E;
  fill: #315B7E;
}

.highlighted_point{
  stroke: #E65C00;
  fill: #E65C00;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

#tooltip{
  visibility: hidden;
  width: 150px;
  height: 50px;
}

.rounded-box {
    position:relative;
    width: 14em;
    background-color: #C3D7E6;
    margin: 3px;
}

/*
lifted from http://www.fireandknowledge.org/archives/2004/05/22/rounded-corners-without-images-part-1/
*/
.top-left-corner, .bottom-left-corner, .top-right-corner, .bottom-right-corner
{position:absolute; width:20px; height:20px; background-color:#FFF; overflow:hidden;}

.top-left-inside, .bottom-left-inside, .top-right-inside, .bottom-right-inside 
{position:relative; font-size:150px; font-family:arial; color:#C3D7E6; line-height: 40px;}

.top-left-corner { top:0px; left:0px; }
.bottom-left-corner {bottom:0px; left:0px;}
.top-right-corner {top:0px; right:0px;}
.bottom-right-corner {bottom: 0px; right:0px;}

.top-left-inside {left:-8px;}
.bottom-left-inside {left:-8px; top:-17px;}
.top-right-inside {left:-25px;}
.bottom-right-inside {left:-25px; top:-17px;}

.box-contents {
  position: relative; padding: 8px; color:#000;
}

#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    
    /* Specify the width of your pageslide here */
    width: 260px;
    padding: 20px;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #333;
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
}

a, a:visited { color: #C30; text-decoration: none; border-bottom: 1px dotted #C30; }
a:hover { color: #900; border-bottom-style: solid; }

p { margin-bottom: 20px; }

#slider {
	position: absolute;
	left: 170px;
	z-index:-1;
}

#content {
	width: 940px;
	padding: 10px;
	margin: 0 auto;
}
	#content h1 { color: #333; line-height: 1em; }
	#content ul { padding-left: 0; list-style: none; }
		#content ul li { margin-bottom: 20px; }

#modal { display: none; }
	#modal a { background: #CCC; color: #333; font-weight: bold; padding: 5px 10px; border: none; }
	#modal a:hover { background: #aaa; }

.tabs { list-style: none; }
.tabs li { display: inline; }
.tabs li a { color: black; float: left; display: block; padding: 2px 2px; margin-left: -1px; position: relative; left: 1px; text-decoration: none; }
.tabs li a:hover { background: #ccc; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

#box-search, #box-trends, #box-info {
  /*visibility: hidden;*/
}

#box-search input[type="submit"] {
    background: #CCC; color: #333; font-weight: bold; padding: 2px 5px; border: none;
}
#box-trends input[type="button"] {
    background: #CCC; color: #333; font-weight: bold; padding: 2px 5px; margin-bottom:5px; border: none;
}

